
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.Highscore {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 80%;
    text-align: center;
    position:absolute;
    left: 20%;
    top: 20%;
    margin-top: -10%;
    margin-left: 5%;
    width: 50%;
    height: 40%;
}

#Goback {
    background-color: #3d0066; 
    color: white;
    border: 2px solid #3d0066;
    border-radius: 5px;
}

#Goback:hover {
    background: color #e6e6e6;
    opacity: 0.7;
}

#Clear {
    background-color: #3d0066; 
    color: white;
    border: 2px solid #3d0066;
    border-radius: 5px;
}

#Clear:hover {
    background: color #e6e6e6;
    opacity: 0.7;
}   

.start {
    text-align: center;
    position:absolute;
    left: 20%;
    top: 20%;
    margin-top: -10%;
    margin-left: 5%;
    width: 50%;
    height: 40%;

}

.left {
    float:left
}

.right {
    float:right;
}

#end-screen {
    text-align: center;
    position:absolute;
    left: 20%;
    top: 20%;
    margin-top: -10%;
    margin-left: 5%;
    width: 50%;
    height: 40%;
}
/* 
#end-message {
    left: 1%;
    top: -10%;
    margin-top: 30%;
    margin-left: 30%;
    width: 50%;
    height: 10%;
} */

#start { 
    background-color: #3d0066; 
    color: white;
    border: 2px solid #3d0066;
    border-radius: 5px;
}

#Submit {
    background-color: #3d0066;
    color: white;
    border: 2px solid #3d0066;
    border-radius: 5px;
}

#question {
    font-weight: bold;
}

#questions {
    text-align: center;
    position:absolute;
    left: 1%;
    top: -10%;
    margin-top: 30%;
    margin-left: 30%;
    width: 50%;
    height: 10%;
}
.btn {
    background-color: #3d0066;
    color: white;
    border: 2px solid #3d0066;
    border-radius: 5px;
    text-align: center;
    
}

.hide {
    display: none;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 120%;
}

div {
    display: block;
}

.btn:hover {
    background: color #e6e6e6;
    opacity: 0.7;
}
#Submit:hover {
    background: color #e6e6e6;
    opacity: 0.7;
}
#start:hover {
    background: color #e6e6e6;
    opacity: 0.7;
}

/* Need to:
    bold & center quiz questions 
    change postion of timer + view-highscores  */
    
